@import "../../Styles/mainColors";
.projectContainer {
  display: flex;
  justify-content: center;
  background-color: $background;
  .projectCard {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    box-shadow: $emphasis 0px -1px 3px;
    background-color: $background;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0.9;
    transform: scale(0.9);
    transition: 0.5s transform;
    z-index: 0;
    &:nth-of-type(2) {
      order: 3;
      margin-left: -8%;
    }
    &:first-of-type {
      margin-right: -8%;
    }
    &:last-of-type {
      box-shadow: $emphasis 0px -1px 5px;
      transform: scale(1);
      opacity: 1;
      z-index: 1;
    }
    &:hover {
      box-shadow: $emphasis 0px -1px 5px;
      transform: scale(1);
      opacity: 1;
      z-index: 1;
    }
    & > img {
      width: 28vw;
    }
    h1 {
      color: $emphasis;
      margin: 0.2rem 0 0.4rem 0;
    }
    ul {
      margin: 0 0 auto 0;
    }
    li {
      margin: 0.2rem 0;
    }
    button {
      margin: 1rem 0;
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      color: white;
      background-color: inherit;
      border: 1px solid $emphasis;
      border-right: none;
      border-left: none;
      img {
        transform: scale(0.8);
        animation: pulse 1.5s infinite both;
      }
      @keyframes pulse {
        0% {
          transform: scale(0.8);
        }
        50% {
          transform: scale(0.9);
        }
        100% {
          transform: scale(0.8);
        }
      }
    }
  }
  &:first-child:hover ~ &:nth-child(2) {
    background-color: #fff;
  }
}
