@import "../../Styles/mainColors";
.projectContainer {
  padding-bottom: 10rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $background;
  .overflow {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .title {
    color: white;
    align-self: center;
  }
  .moreLink {
    margin-top: -1rem;
    display: flex;
    align-self: center;
    color: $emphasis;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px solid $emphasis;
    transition: .3s all;
    &:hover {
      color: white;
    }
  }
  .projectCard {
    margin: 2rem 0;
    display: flex;
    position: relative;
    border-radius: 10px;
    transform: scale(0.9);
    transition: 0.5s transform;
    z-index: 0;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(1px);
      pointer-events: none;
      z-index: 1;
    }
    &:nth-of-type(2) {
      order: 3;
      margin-left: -8%;
    }
    &:first-of-type {
      margin-right: -8%;
    }
    &:last-of-type {
      transform: scale(1);
      opacity: 1;
      z-index: 1;
      .front {
        box-shadow: $emphasis 0px -1px 5px;
      }
      &:before {
        backdrop-filter: blur(0px);
      }
    }
    &:hover {
      transform: scale(1);
      opacity: 1;
      z-index: 1;
      .front {
        box-shadow: $emphasis 0px -1px 5px;
      }
      &:before {
        backdrop-filter: blur(0px);
      }
    }
    &:first-of-type:hover ~ :last-of-type,
    &:nth-of-type(2):hover ~ :last-of-type {
      transform: scale(0.9);
      z-index: 0;
      &:before {
        backdrop-filter: blur(1px);
      }
    }
    .front,
    .reverse {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $background;
      box-shadow: $emphasis 0px -1px 3px;
      border-radius: 10px;
      transition: 0.4s all;
      color: white;
    }
    .front {
      transition-delay: 0.3s;
      overflow: hidden;
    }
    a {
      position: relative;
      cursor: pointer;
      &:hover {
        .websiteImgPreview {
          filter: grayscale(0%);
        }
        .linkOutImg {
          opacity: 1;
        }
      }
    }
    .websiteImgPreview {
      filter: grayscale(50%);

      width: 28vw;
      transition: 0.3s all;
    }
    .linkOutImg {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 40px;
      width: 40px;
      opacity: 0;
      transform: translate(-50%, -50%);
      transition: 0.2s all;
    }
    .reverse {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0) rotateY(90deg);
    }
    h1 {
      color: $emphasis;
      margin: 0.2rem 0 0.4rem 0;
    }
    ul,
    p {
      margin: 0 0 auto 0;
    }
    p {
      text-align: center;
      padding: 0 0.5rem;
    }
    li {
      margin: 0.2rem 0;
    }
    button {
      margin: 1rem 0;
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      color: white;
      background-color: inherit;
      border: 1px solid $emphasis;
      border-right: none;
      border-left: none;
      img {
        transform: scale(0.8);
        animation: pulse 1.5s infinite both;
      }
      @keyframes pulse {
        0% {
          transform: scale(0.8);
        }
        50% {
          transform: scale(0.9);
        }
        100% {
          transform: scale(0.8);
        }
      }
    }
  }
}
.revertCard {
  .front {
    transform: rotateY(90deg);
    transition-delay: 0s !important;
  }
  .reverse {
    transform: translate(-50%, 0) rotateY(0deg) !important;
    transition-delay: 0.3s !important;
  }
}
@media screen and (max-width: 1200px) {
  .projectContainer .projectCard .websiteImgPreview {
    width: 35vw;
  }
  .projectContainer {
    padding-bottom: 7rem;
  }
}
@media screen and (max-width: 900px) {
  .projectContainer {
    .projectCard .websiteImgPreview {
      width: 38vw;
    }
  }
}
@media screen and (max-width: 800px) {
  .projectContainer {
    padding-bottom: 1rem;
    align-items: center;
    .overflow {
      flex-direction: column;
      overflow: visible;
      pointer-events: none;
    }
    .projectCard {
      margin: 1rem 0;
      pointer-events: none;
      transform: scale(1);
      .front {
        a {
          pointer-events: all;
        }
      }
      &:nth-of-type(2) {
        margin: 1rem 0;
      }
      &:first-of-type:hover ~ :last-of-type,
      &:nth-of-type(2):hover ~ :last-of-type {
        transform: none;
      }
      &:last-of-type {
        .front {
          box-shadow: $emphasis 0px -1px 3px;
        }
      }
      &:before {
        display: none;
      }
      .websiteImgPreview {
        width: 70vw;
      }
    }
    button {
      pointer-events: auto;
    }
  }
}
@media screen and (max-width: 450px) {
  .projectContainer {
    .projectCard {
      p {
        font-size: 0.9rem;
      }
      &:first-of-type {
        margin-right: 0;
      }
      .websiteImgPreview {
        width: 90vw;
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .projectContainer .projectCard:first-of-type {
    p {
      font-size: 0.85rem;
    }
  }
}
