@import "../../Styles/mainColors";
.infoContainer {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: $background;
  .yellowLine {
    position: absolute;
    top: 0;
    left: 50%;
    height: 1px;
    width: 0%;
    background-color: $emphasis;
    transform: translateX(-50%);
    z-index: 1;
  }
  .subContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 780px;
    overflow: hidden;
    transform: translate(-50%, -50%);
    .ball {
      margin-right: 0.8rem;
      background: url("../../Css_Images/profileFinal.png");
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
      height: 200px;
      width: 200px;
      float: left;
      border-radius: 50%;
      border: 1px solid white;
      background-color: white;
      opacity: 0;
    }
  }
  p {
    font-size: 1.1rem;
    letter-spacing: 1.2px;
    color: white;
  }
}
@media screen and (min-width: 1920px) {
  .infoContainer {
    height: 80vh;
    p {
      font-size: 1.5rem;
    }
    .subContainer {
      width: 1150px;
      .ball {
        width: 320px;
        height: 320px;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .infoContainer {
    .subContainer {
      width: 90%;
      .ball {
        margin: 0 auto;
        float: none;
      }
    }
    p {
      text-align: center;
    }
  }
}
@media screen and (max-width: 450px) {
  .infoContainer p {
    font-size: 1rem;
  }
}
