@import "../../Styles/mainColors";
.mainContainer {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background: radial-gradient(
    circle,
    rgba(230, 165, 25, 0) 0%,
    rgba(0, 0, 0, 0.8071603641456583) 91%
  );
  .lanButtonsConatiner {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 6;
    button {
      margin: .25rem 0.5rem;
      color: white;
      background-color: inherit;
      border: none;
      font-size: 1.1rem;
      cursor: pointer;
      transition: .3s all;
      &:hover {
        color: $emphasis;
      }
    }
    .active {
      color: $emphasis;
      border-bottom: 1px solid $emphasis;
    }
  }
  .backgroudImage {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
  }
  .mainCircle {
    padding: 0.5rem;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    color: white;
    font-family: Caveat;
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    &:before {
      content: "";
      background-color: transparent;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
      border-bottom: 3px solid rgba(255, 255, 0, 0.863);
      border-radius: 50%;
      z-index: -1;
    }
    .emphasisMain {
      display: inline-block;
      color: $emphasis;
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
      line-height: 3rem;
    }
    p {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }
}
@media screen and (min-width: 1920px) {
  .mainContainer {
    .mainCircle {
      transform-origin: center;
      transform: scale(1.5) translate(-30%, -30%);
    }
  }
}
@media screen and (max-width:730px) {
  .mainContainer .lanButtonsConatiner {
    top: unset;
    bottom: 0;
  }
}
@media screen and (max-width: 450px) {
  .mainContainer {
    .mainCircle {
      width: 300px;
      height: 300px;
      p {
        font-size: 1.5rem;
        line-height: 1.8rem;
      }
    }
  }
}
