@import "../../Styles/mainColors";
.skillsContainer {
  height: 80vh;
  background-color: $background;
  h1 {
    text-align: center;
    color: white;
  }
  ul {
    display: flex;
    justify-content: center;
    color: white;

    background-color: $background;
  }
  li {
    border: 1px solid $emphasis;
    border-left: none;
    border-right: none;
    padding: 0.3rem 0.2rem 0.15rem 0.2rem;
    margin-top: auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    &:nth-of-type(6) {
      &::before {
        content: "Current Stack";
        position: absolute;
        bottom: 120%;
        left: 50%;
        width: 200%;
        font-size: 1.4rem;
        font-weight: 500;
        text-align: center;
        color: white;
        transform: translate(-50%, 0);
      }
    }
  }
  img {
    height: 6vw;
  }
}
