.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
  z-index: 1;
  .navItem {
    position: relative;
    left: auto;
    margin-left: 0px;
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    color: white;
    transition: 0.5s all;
    &:hover {
      color: yellow;
    }
  }
  .animationBox {
    display: flex;
  }
  .a {
    margin-top: 0.3rem;
  }
  .b {
    margin-top: 0.3rem;
  }
}
