@import "../../Styles/mainColors";
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  max-height: 100px;
  width: 100vw;
  z-index: 5;
  button {
    padding: 0.5rem 0;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    background-color: unset;
    border: unset;
  }
  .navItem {
    padding: 0.5rem 0;
    font-size: 1.2rem;
    line-height: 1.9rem;
    font-weight: 500;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    max-width: 0px;
    transition: 0.5s all;
    &:hover {
      color: $emphasis;
    }
  }
  .active {
    padding: 0.5rem 2rem;
    max-width: 250px;

    &:first-of-type {
      padding-left: 0px;
    }
  }
}
@media screen and (max-width: 550px) {
  .navbar {
    .navItem {
      font-size: 1.1rem;
    }
    button {
      margin-right: 1rem;
    }
    .active {
      padding: 0.5rem .8rem;
      &:last-of-type {
        padding-right: 1.5rem;
      }
    }
  }
}
@media screen and (max-width: 420px) {
  .navbar {
    button {
      margin-right: .5rem;
      img {
        height: 25px;
      
      }
    }
    .navItem {
      font-size: .8rem;
    }
    .active {
      padding: 0.57rem 0.5rem;
      &:last-of-type {
        padding-right: 1.5rem;
      }
    }
  }
}
